.TitleItem p:nth-child(1), .TitleItem p:nth-child(3) {
    margin-right: 100px;
}
.TitleItem p:nth-child(2) {
    margin-left: 100px;
}
.TitleItem p {
    padding: 20px 0;
}
.grid {
    width: 100%;
    margin: 0 auto;
    padding-top: 10%;
    display: table;
}
.grid-bg {
    width: 70%;
    margin: 0 auto;
    padding: 3% 0;
    overflow: hidden;
}
.balloon {
    position: relative;
}
.balloon:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-color: rgba(255,255,255,1.00) transparent transparent transparent;
    border-width: 20px 20px 0 20px;
    transform: rotate(180deg);
}
.AddPhoto, .AddDescription {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
}
.AddPhoto {
    height: 300px;
    display: flex;
}
.AddDescription {
    height: auto;
}
.item {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}
.AddPhoto img {
    height: auto;
    transition: 0.8s ease-in-out;
    width: 100%;
}
.AddPhoto img:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}
.add-date {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 30px 0;
}
.add-date p {
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
}
.social {
    text-align: right;
}
.font-social i {
    font-size: 15px;
    padding: 0 5px;
}
.social a {
    color: rgba(11,11,11,1.00);
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
}
.social a:hover {
    text-decoration: none;
    color: rgba(230,230,230,1.00);
}
.add-title {
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
}
.add-title a {
    color: rgba(11,11,11,1.00);
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 17px;
}
.add-title a:hover {
    text-decoration: none;
    color: rgba(230,230,230,1.00);
}
.add-content {
    font-family: 'Quicksand', sans-serif;
    color: rgba(11,11,11,1.00);
    font-size: 14px;
}
.btn-r {
    font-family: 'Quicksand', sans-serif;
    margin: 20px 0;
}
.btn-r a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 13px;
    color: rgba(11,11,11,1.00);
    border: 1px solid rgba(11,11,11,1.00);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.btn-r a:hover {
    text-decoration: none;
    color: rgba(255,255,255,1.00);
    border: 1px solid rgba(11,11,11,1.00);
    background: rgba(11,11,11,1.00);
}

@media only screen and (max-width:959px) {
.section {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.grid {
    width: 100%;
    margin: 0 auto;
    padding-top: 10%;
    display: table;
}
.grid-bg {
    width: 100%;
    overflow: hidden;
}
.AddPhoto, .AddDescription {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.AddDescription {
    padding: 50px 0;
    height: auto;
}
.item {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}
.social {
    text-align: left;
}
.font-social i {
    font-size: 20px;
    padding: 0 10px;
}
.btn-r {
    font-family: 'Quicksand', sans-serif;
    margin: 20px 0;
	text-align: center;
}
}
